<a href="{% url 'library:index' %}">Главная </a>
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}"  style="float: right;" >Выйти </a>
{% else %}
  <a href="{% url 'login' %}"  style="float: right;" > Войти </a>
  <br> 
  <a href="{% url 'library:register' %}"  style="float: right;" > Регистрация </a>
{% endif %}
<form method="GET" action="{% url 'library:book_search' %}">
  <input type="text" name="q" placeholder="Введите запрос">
  <button type="submit" name="submit">Искать</button>
</form>
